{% extends "base.html" %}
{% block contenido %}

    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Acerca De...</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Gestor de Tareas</h6>
    <p class="card-text">Descripcion:Aplicación web para gestionar tareas pendientes. MI avance hasta ahora son tres plantillas las cuales son: Inicio de sesion, Registrarse para tener una nueva cuenta, si antes no la tenias, pero si ya tenias cuenta no es necesario y puedes dar clic en el enlace para iniciar. Distintos errores Que señale en el readme.</p>
    <a href="#" class="card-link">Visitar sitio</a>
    <a href="#" class="card-link">Contacto: 24308060610633@cetis61.edu.mx</a>

    </div>
</div>

{% endblock %} 