{% extends "base.html" %}
{% block contenido %}

<div style="background-color:black; width:400px; padding:20px; border-radius:15px; margin:auto;">
    <div style="background-color:white; padding:20px; border-radius:10px;">
        <h2>Agregar tarea</h2>
<form method="POST" action="/agregar">
    <label for="titulo">Titulo:</label><br>
    <input type="text" id="titulo" name="titulo"><br>
    <label for="descripcion">Descripcion:</label><br>
    <input type="text" id="descripcion" name="descripcion"><br><br>
<button>Agregar</button>
</form>
</div>

{% endblock %} 