{% extends "base.html" %}
{% block contenido %}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-4" style="width: 400px;">
        <form method="POST" action="/registro">
            <input type="text" name="nombre" class="form-control mb-3" placeholder="Nombre" required>

            <input type="text" name="apellido" class="form-control mb-3" placeholder="Apellido">

            <input type="email" name="email" class="form-control mb-3" placeholder="Correo" required>

            <input type="password" name="password" class="form-control mb-3" placeholder="Contraseña">

            <button type="submit" class="btn btn-primary w-100">Registrate</button>
        </form>
    </div>
</div>

{% endblock %} 